@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

